.v-sidebarbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  background: none;
  text-align: left;
  height: 32px;
  border-radius: 2px;
  @media @maxTablet {
    height: 40px;
    gap: 10px;
    padding-left: 6px;
  }
  > div {
    width: 3px;
    content: '';
    display: block;
    height: 20px;
    margin-left: 4px;
    right: unset;
    border-radius: 2px;
  }
  &:hover {
    background: @hover0;
  }
  &.v-sidebarbutton-active {
    > div {
      background: #4ea1e1;
    }
    background: @hover1;
  }
}
